@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.container{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #9ce3e7;
    height: 50px;
    display: flex;
   align-items: center;
   justify-content: center;
}
.kno{
    margin: 20px;
    background: transparent;
    border: none !important;
    cursor:pointer;
}
.line{
    background-color: transparent;
    height: 1px;
    top: 89px;
    display: flex;
}
#input{
    background: transparent;
    border: #f0f0f0;
    height: 33px;
    outline: none;
    font-size: 16px;
}
.textField{
    background: transparent;
    border: #f0f0f0;
    outline: none;
}
.window .name{
    margin-top: 238px;
    outline: none;
    position: absolute;
    margin-right:210px ;
    width: 40px;
}
.window .pass{
    margin-top: 315px;
    position: absolute;
    margin-right:210px ;
    width: 40px;
    outline: none;
}
.window{
    display: flex;
    justify-content: center;
}
.window img{
    margin-top: 70px;
    position: absolute;
    justify-content: center;
    margin-right:100px;
}
.window .log{
    background: transparent;
    border: none !important;
    margin-top: 376px;
    position: absolute;
    padding: 18px 70px;
    cursor:pointer;
}
#button{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor:pointer;
}
#a{
    color: #000;
    text-decoration: none;
    font-weight: 300;
}