@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.kno{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  border: none !important;
  cursor:pointer;
  width: 100%;
  margin-top: 0;
  justify-content: center
}
.btn{
  margin-left: 10px;
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  cursor:pointer;
  background-color: #9ce3e7;
  border: #f0f0f0;
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #ffffff;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(255, 20, 20, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.Blocks{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.post{
  width:500px;
  display: flex;
  padding: 15px;
  border:2px solid gray;
  margin-top: 15px;
}
