.btnml {
    margin-top: 15px;
     margin-left: -10px;
}
a {
    text-decoration: none;
}
.btnm {
    margin-top: 10px;
    margin-left: 0px;
}
. lnk {
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
.btnlnk:hover {
    color: white;
}
